body {
    box-sizing: border-box;
    margin: 0,5%;
    padding: 0,5%;
    background-image: url(images/tło1.avif);
    background-repeat: no-repeat;
    background-size: cover;


}

 



nav  {
    display: flex;
    justify-content: space-between;
    justify-self:center;
    align-items: center;
    padding: 0rem calc((100vw-1300px)/2);
    margin-top: 0;
    background-color: rgb(58, 26, 49);
    height: 180px;
    opacity: 0.9;

}
.logo {
    padding: 0 4rem;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    color: rgb(232, 215, 126);
    font-weight: bold;

}
    
    
    
nav a {
    text-decoration: none;
    font-size: 2rem;
    padding: 0 1.5rem;
    color: rgb(232, 215, 126);
    font-family: 'Dancing Script';
    text-decoration:;
}
.hero {
    background-color: rgb(170, 127, 127);
    opacity: 0.8;
    margin-top: 0rem;
}
.container {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    height: 50vw;
    padding: 3rem (calc(100vw-1300px));
    background-color:beige;
}
.heading {
    font-size: 3.4rem;
    font-family: 'Dancing Script';
    font-weight: bolder;
    color: rgb(58, 26, 49);
   
}
.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(104, 104, 141);
    
}
.column-left p {
line-height: 1.4;
font-size: 1.2rem;
margin-bottom: 2rem;


}
.hero-image {
    width: 380px;
    height: 380px;
   border-radius: 3000px;
   border-width: 50px;
   margin-top: 7rem;
   
}