body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(23, 13, 19);
    z-index: -1
}
nav  {
    display: flex;
    justify-content: space-between;
    justify-self:center;
    align-items: center;
    padding: 0rem ;
    margin-top: 0;
    height: 45px;
    text-transform: uppercase;
}
nav a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 12px;
    color:#f0f0f0;
    font-family:'Hedvig Letters Serif', serif ;
    margin-right: 2rem;
    font-weight: bold;
    font-family: 'Nanum Myeongjo', serif;
}
nav a:hover {
    color: rgb(23, 13, 19);
    font-size: 1.3rem;
    background-color: rgb(246, 235, 241)
}
.hero {
    margin-top: 0rem;
    background-color:rgb(23, 13, 19);
    width: fit-content
}
.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 50vw;
    padding: 3rem ;
}
.heading {
    font-size: 5rem;
    font-weight:lighter;
    font-family: 'Nanum Myeongjo', serif;
    margin-left: 4rem;
    color: #f0f0f0;
    text-transform: uppercase;
}
.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 9rem;
    padding-right: 0;
}
p {
line-height: 1.4;
font-size: 1.3rem;
margin-bottom: 2rem;
font-family:'Nanum Myeongjo', serif ;
}
.column-right {
    padding-left: 0;
    padding-right: 13rem;
    margin-top: 8rem;   
}
.hero-image {
   width: 350px;
   height: 350px;
   border-radius: 3000px;
   border-width: 50px;
   margin-top: 5rem;
   margin-left:0;
   margin-bottom: 5rem;
   display: block;
}
  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(46, 37, 42);
    margin-bottom: 0;
    min-width: 100%;
  }
  .about-content {
    margin: 0 auto; 
    padding-bottom: 0;
    margin-bottom: 0;
  }
   .about h2 {
    color:#f0eaea;
    font-size: 2.5rem;
    padding-left: 10%;
    text-transform: uppercase;
   }
  .about-text {
    flex: 1;
    color:#f0eaea;
    max-width: 2000px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    white-space: pre-wrap;
  }
  .about-image img {
    max-width: 970px;
    height: auto;
    display: block;
    width: fit-content;
    margin-bottom: 0;
    padding-bottom: 80px;
    padding-right: 10%;
    padding-left: 10%;
    justify-content: center;
    margin-right: 10%;
  } 
/* galeria*/
.gallery-images {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: fit-content;
    align-items: center;
    background-color:rgb(23, 13, 19);
    margin: 0 auto; 
    margin-bottom: 0;
}
  .gallery-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Szerokość wiersza */
    margin-bottom: 0px;
    margin-left: 35px;
  }
  .gallery-row figure {
    box-sizing: border-box;
  }
  .gallery-row img {
    width: 300px;
    height: auto;
    display: block;
  }
  .gallery-images h2 {
    font-size: 3.5rem;
    color:#ebe3e3;
    padding: 0px;
    text-transform: uppercase;
  }
  figcaption {
    color: #faf8f8;
    font-size: 1.5rem;
    align-self: center;
    flex-wrap: wrap;
    width: 300px;
    padding-top: 20px;
    font-style: italic;
  }
  footer {
    text-align: center;
    padding: 20px 0;
    background-color:rgb(46, 37, 42);
    color: #f0eaea;
    margin-top: 0;
  }
  footer h2 {
    text-transform: uppercase;
  }

/* telefon */
@media only screen and (max-width: 768px) {
    nav {
 width: max-content;
 margin-top: 60px;
 margin-left: 30px;
}
nav a {
    font-size: 3rem;
    padding: 4px;
    background-color: #f0eaea;
    color: rgb(23, 13, 19);
}
.about-content {
    margin-top: 40px;
}
.about {
    background-color: rgb(23, 13, 19);
    width: max-content;
    padding-right: 10px;
    margin-right: 10px;
}
.about-text {
    width: auto;
}
.about p {
    font-size: 3rem;
    margin-left: 60px;
    margin-right: 0;
    width: 100%;
    padding-top: 0;
}
.gallery-images h2 {
    font-size: 5rem;
    text-align: center;
    margin-left: 330px;
}
footer p {
    font-size: 3rem;
}
figcaption {
    font-size: 3rem;
}
.about img {
    margin-left: 60px;
}
.about h2 {
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 130px;
    text-transform: none

}
.heading {
    font-size: 8rem;
}
.hero-image {
  display: none;
}
.gallery-images {
    width: 760px;
    margin-left: 60px;
}

}

@media only screen and (max-width:1200px) {
    body {
        margin-left: 0;
    }
    .about {
        background-color: rgb(23, 13, 19);
        align-items: center;
        margin-left: 0;
        margin-right: 0
    }
    .about-text {
        font-size: 4rem;
        width: 900px;
    }
footer {
    width:1200px;
}
.gallery-images {
  max-width: 1200px;
}
.gallery-row img {
   width: 980px;
   margin-right: 0;
   padding-right: 0;
   justify-self: center;
   justify-content: center;
}
p {
    font-size: 2rem;
}
figcaption {
    width: fit-content;
    font-size: 2rem;
    padding-top: 40px;
    text-align: center;
}
}
@media only screen and (min-width:1500px) and (max-width:1900px){
    .hero-image {
        width: 600px;
        height: 600px; 
}
p {
    font-size: 2rem;
}
}
@media only screen and (min-width:1900px) {
    .hero-image {
       min-width: 700px;
        height: 700px;
        align-self: center;
    }
    nav {
        margin-top: 50px;
        margin-left: 40px;
    }
    nav a{
        font-size: 3rem;
        padding-top: 40px;
    }
    .about-text {
        padding-left: 40px;
        paddingright: 100px;
    }
    p {
        font-size: 3rem;
    }
    .gallery-images {
        width: 100%;
        
    }
    .gallery-row img {
        width: 500px;
    }
    .about img {
        width: 1500px;
        align-self: center;
        padding-top: 30px;
    }
    .about p {
        align-self: center;
        margin-left: 100px;
        font-size: 6rem;
    }
    .about h1 {
        font-size: 7rem;
    }
   .gallery-images h1 {
    font-size: 7rem;
   }
   figcaption {
    font-size: 4rem;
    width: 500px
   }
    .heading {
        font-size: 12rem;
    }
}
@media only screen and (min-width:2600px) {
    .hero-image {
        width: 900px;
        height: 900px;
        margin-right: 500px;
        margin-top: 400px;
    }
    .heading {
        margin-left: 300px;
    }
    .about p{
        margin-left: 0px;
        padding-left: 0px;
        align-content: center;
    }
}